@model IEnumerable<Drones.Models.Worker>

@{
    ViewData["Title"] = "WorkerListView";
}

<h2>WorkerListView</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(id => item.id)
            </td>
            <td>
                @Html.DisplayFor(name => item.name)
            </td>
            <td>
                @Html.DisplayFor(surname => item.surname)
            </td>
            <td>
                @Html.DisplayFor(role => item.role)
            </td>
        </tr>
}
    </tbody>
</table>
