@model IEnumerable<Drones.Models.ParkingLot>

@{
    ViewData["Title"] = "ParkingLotListView";
}

<h2>Aikštelių sąrašas</h2>

<p>
    <a asp-controller="ParkingLot" asp-action="createLot">Kurti naują</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Adresas</th>
            <th>Parkavimosi vietų</th>
            <th>Rezervuotos vietos</th>
            <th>Aikštelės būsena</th>
            <th>Ištrinti</th>
            <th>Peržiūrėti rezervacijas</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(address => item.address)
            </td>
            <td>
                @Html.DisplayFor(parkingSpaces => item.totalSpaces)
            </td>
            <td>
                @Html.DisplayFor(reservedSpaces => item.reservedSpaces)
            </td>
            <td>
                @*=========================================================
                    Ši vieta neveikia teisingai. item.state gali paduoti arba skaiciu arba reiksme opened/closed
                    =======================================================
                *@
                @{
                    if (item.state == ParkingLotState.Open)
                    {
                        <p>Open</p>
                    }
                    else
                    {
                        <p>Closed</p>
                    }
                }
            </td>
            <td>
                <a asp-action="delete"><button class="btn btn-primary">Ištrinti</button></a>
            </td>
            <td>
                <a asp-action="showReservations"><button class="btn btn-primary">Peržiūrėti rezervacijas</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
