@model IEnumerable<Drones.Models.Reservation>

@{
    ViewData["Title"] = "ParkingLotReservationListView";
}

<h2>ParkingLostReservationListView</h2>

<table class="table">
    <thead>
        <tr>
            <th>Automobilio numeris</th>
            <th>Telefono numeris</th>
            <th>Data</th>
            <th>Trukmė</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Sample</th>
            <th>Sample</th>
            <th>Sample</th>
            <th>Sample</th>
            <th></th>
        </tr>
    </tbody>
</table>