@model Drones.Models.ParkingLot

@{
    ViewData["Title"] = "ParkingLotFormView";
}

<h2>Aištelės forma</h2>

<h4>Aikštelė</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="createLot">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<br>
<p>
    <a asp-controller="DroneSubsystem"  asp-action="createDroneRoute">Kurti naują maršrutą</a>
</p>

<div>
    <a asp-action="showLots">Atgal</a>
</div>

